@layer utilities {
  .scrollbar-hide {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .drag-scroll {
    cursor: grab;
  }

  .drag-scroll:active {
    cursor: grabbing;
  }
}